.form__title-button-submit_disable {
    background-color: white;
    color: #c5c5c5;
    border: 1px solid rgb(197,197,197);
  }
  
  .form__title-button-submit_disable:hover {
    opacity: 1;
    cursor: default;
  }