.form__title-button-submit {
  min-width: 358px;
  min-height: 50px;
  margin: 36px 0 0 0;
  padding: 0;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  border: none;
  border-radius: 2px;
}

@media (max-width: 620px) {
  .form__title-button-submit {
    min-width: 238px;
    min-height: 46px;
    font-size: 14px;
    line-height: 16px;
    margin: 45px 0 0 0;
  }
}

.form__title-button-submit:hover {
  opacity: 0.8;
  cursor: pointer;
}
