@import url(../fonts/fonts.css);

.page {
  background-color: black;
  font-family: "Inter", Arial, sans-serif;
  margin: 0 auto;
  position: relative;
}

.wrapper {
  max-width: 880px;
  margin: 0 auto;
  padding: 0;
}

.header {
  margin: 0;
  padding: 45px 0 0 0;
  min-height: 74px;
  min-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  max-width: 142px;
  min-height: 33px;
}

.profile {
  display: flex;
  min-width: 880px;
  max-height: 120px;
  margin: 0;
  padding: 40px 0 0 0;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 100px;
}

.profile__add-button {
  margin: 35px 0 0 0;
  padding: 0;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__item {
  margin: 22px 205px 0 25px;
  padding: 0;
}

.item__title {
  display: flex;
}

.item__name {
  color: white;
  font-size: 42px;
  font-weight: 400;
  line-height: 48px;
  margin: 0;
  padding: 0 18px 16px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item__edit-button {
  margin: 15px 0 0 0;
}

.item__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.item__subtitle {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.elements {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 361px);
  gap: 20px 17px;
  padding: 51px 0 0 0;
}

.elements__item {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0;
  padding: 0;
  max-width: 282px;
  max-height: 361px;
  border-radius: 10px;
  overflow: hidden;
}

.item__image {
  max-width: 100%;
  overflow: hidden;
}

.main__text {
  display: flex;
  justify-content: space-between;
  max-width: 246px;
  margin: 0 15px 0 21px;
  padding: 25px 0 0 0;
}

.text__item {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.main__heart-logo {
  margin: 5px 5px 0 0;
}

.main__heart-logo:hover {
  opacity: 0.6;
  cursor: pointer;
}

.footer {
  margin: 0;
  padding: 67px 0 60px 0;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  color: #545454;
}

.pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.pop-up__close {

}

.pop-up__container {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  min-height: 330px;
  background-color: white;
  margin: 195px auto;
  border-radius: 10px;
}

.pop-up__close-icon {
  margin: -40px -40px 0 0;
  align-self: flex-end;
}

.pop-up__close-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.pop-up__form {
  padding: 42px 36px 37px 36px;
  margin: 0;

}

.form__title {
  margin: 0 0 54px 0;
  padding: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

.form__input {
  margin: 0 0 30px 0;
  padding: 0 0 13px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  min-width: 356px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.form__button-submit {
  min-width: 358px;
  min-height: 50px;
  margin: 18px 0 0 0;
  padding: 0;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.form__button-submit:hover {
  opacity: 0.8;
  cursor: pointer;
}